.leaderboard-modal {
  background-color: black;
  color: white;
  width: 700px;
  margin: auto;
  padding: 30px;
  position: relative;
}

.leaderboard-modal table {
  width: 100%;
}

.leaderboard-modal caption {
  font-size: 1.5rem;
}

.leaderboard-x {
  color: white;
  top: 15px;
  right: 15px;
}