nav ul {
  list-style: none;
  padding: 0;
  display: flex;
  gap: 15px;
}

nav li {
  display: block;
}

.modal-bg {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.3);
}

.modal-parent {
  height: 100%;
  display: flex;
}

.modal-x {
  position: absolute;
  cursor: pointer;
  background: none;
  border: none;
  font-size: 1rem;
}